# Anthropic (https://console.anthropic.com/settings/keys)
ANTHROPIC_API_KEY=

# Spotify (https://developer.spotify.com/dashboard)
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://localhost:8888/callback

# Govee (https://developer.govee.com/)
GOVEE_API_KEY=

# Weather (https://www.weatherapi.com/)
WEATHER_API=
